.header {
  background: $dark-blue;
}

.header__content {
  align-items: center;
  display: flex;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  margin-right: $l-size;

  h1 {
    margin: 0;
  }
}

.header__element--link {
  color: white;
  text-decoration: none;

  h3 {
    margin: 0;
  }
}

.header__logout {
  margin-left: auto;
}